
h2 {
    margin-bottom: 0;
    border-bottom: solid 1px var(--main-white);
}

section {
    width: var(--main-content-width);
    margin: auto;

    text-align: center;

    box-shadow: var(--box-shadow);

    margin-top: 2vw;

}

section p {
    font-size: 1.4rem;
    font-style: justify;
}

fieldset {
    border: none;
}

.search-section input {
    display: inline-block;

    background-color: var(--dark-bg-col);
    font-size: 1.2rem;

    border: none;
}



#searchBar {
    width: 60%;

    border-radius: 15px;
    padding: 10px;

    font-weight: 200;

}

.search-section input:focus {
    outline: solid 2px lightblue;
}



#searchButton {
    width: 20%;
    border-radius: 15px;
    padding: 10px;
}

#searchButton:hover {
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.1);
}

table {
    width: 100%;
    height: 100%;

    text-align: justify;
}

table, tr, tbody, thead, td {
    padding: none;
    margin: none;
    border-spacing: 0px;
}

thead td {
    border-bottom: solid 1px #FFF;
}

table tr td {
    width: 50%;
}

table tbody tr td {
    font-size: 1.3rem;
}

table tr:nth-child(even) {
    background-color: var(--dark-bg-col);
}

tbody tr:hover {
    opacity: 0.6;
    background-color: var(--main-purple);
    cursor: pointer;
}
