@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300&display=swap');

:root {
    --main-bg-col: #353b41;
    --main-fg-col: #495057;
    --main-white: #F8F9FA;
    --main-purple: hsl(270, 100%, 70%);
    --dark-bg-col: #212529;
    --box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

    --main-content-width: 600px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans JP', sans-serif;
    color: var(--main-white);
}

h1 {
    font-weight: bold;
    width: fit-content;
    margin: auto;
    margin-bottom: 2vw;

    border-bottom-style: solid;
}

header {
    background-color: var(--dark-bg-col);
    filter: drop-shadow(0px, 0, 3px);

    box-shadow: var(--box-shadow)
}

.navbar {
    width: 100%;
    overflow: auto;
}

.navbar a {
    float: left;
    width: 25%;
    background-color: var(--dark-bg-col);

    margin-bottom: 2vw;
    padding-top: 1vw;
    padding-bottom: 1vw;

    
    text-align: center;
    text-decoration: none;

    box-shadow: 2px 4px 2px rgba(0, 0, 0, 0.2);
}

.navbar .active {
    box-shadow: none;
    border-bottom: solid 1px white;
    /* box-shadow: 0px 2px 2px rgba(255, 255, 255, 0.2);*/
}

.navbar a:hover, .navbar a:focus {
    outline: none;
    opacity: 0.8;
    background-color: hsl(210, 10%, 20%)
}

.inline {
    display: inline-block;
}

.circle-icon {
    border-radius: 50px;
}

body {
    font-size: 2rem;
    background-color: var(--main-bg-col);
    margin: 0;
}

footer {
    padding: 1vw;
}

footer p {
    margin: auto;
    width: fit-content;
}

*::selection {
    background: var(--main-purple);
}

.not-selectable {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

@media screen and (max-width: 500px) {
    .navbar {
        margin-bottom: none;
    }

    .navbar .active {
        box-shadow: none;
    }

    .navbar a {
      float: none;
      display: block;
      width: 100%;
      box-shadow: none;
    }

    h1 {
        font-size: 2.4rem;
    }
}
